<ul id="dropdown1" class="dropdown-content">
  <li><a href="/Kiana">Kiana Alejandra</a></li>
  <li class="divider"></li>
  <li><a href="/Oswaldo">Angel Oswaldo</a></li>
  <li class="divider"></li>
  <li><a href="/Hagen">Emerik Hagen</a></li>
</ul>
<nav class="blue" >
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Sistemas de Información</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/A1-0">Teoría Básica SI</a></li>
      <li><a href="/A2-0">Tipos de SI</a></li>
      <li><a href="/A3-0">Scrum</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Desarrolladores<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<h1 style="margin-left: 2em">Dato</h1>
<h5><p style="margin-left: 2em">• Derivado del latín “datum” cuyo significado literal es “hecho”.<br><br>
• Un dato no dice nada por sí solo, aislado en carecer de valor o relevancia.<br><br>
• Los datos son los insumos para generar información.<br><br>
• Características:
</p> <p style="margin-left: 4em">- Es construido o generado.<br>
- Debe ser almacenado en un medio físico.<br>
- Deben ser expresados en un lenguaje conocido.
</p> </h5>

<h1 style="margin-left: 2em">Información</h1>
<h5> <p style="margin-left: 2em">• Se produce información cuando un conjunto de datos son procesados por un sistema.<br><br>
• Para ser útil, la información debe ser relevante, completa, precisa y actual.<br><br>
• Características:
</p> <p style="margin-left: 4em">- Relevante.<br>
- Organizada para un propósito.<br>
- Tiene un contexto.
</p> </h5>
<div align="center"><img src="images/info.png"> </div>

<h1 style="margin-left: 2em">Sistema de Información</h1>
<h5> <p style="margin-left: 2em">• Es un conjunto de elementos orientados al tratamiento y administración de datos e información, organizados y listos para su uso posterior, generados para cubrir una necesidad o un objetivo.<br><br>
• Dichos elementos formarán parte de alguna de las siguientes categorías:
</p> <p style="margin-left: 4em">- Personas.<br>
- Actividades o técnicas de trabajo.<br>
- Datos.<br>
- Recursos materiales en general papel, lápices, libros, carpetas, etc.
</p> </h5>

<ul class="center">
  <a class="waves-effect waves-teal btn-flat" href="/A1-1">Siguiente</a>
</ul>
