<ul id="dropdown1" class="dropdown-content">
  <li><a href="/Kiana">Kiana Alejandra</a></li>
  <li class="divider"></li>
  <li><a href="/Oswaldo">Angel Oswaldo</a></li>
  <li class="divider"></li>
  <li><a href="/Hagen">Emerik Hagen</a></li>
</ul>
<nav class="green" >
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Sistemas de Información</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/A1-0">Teoría Básica SI</a></li>
      <li><a href="/A2-0">Tipos de SI</a></li>
      <li><a href="/A3-0">Scrum</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Desarrolladores<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<h1 align="center">Componentes Básicos de un Sistema de Información</h1>
<h5> <p style="margin-left: 2em">• Los sistemas de información son una combinación de tres partes principales: las personas, los procesos del negocio y los equipos de tecnologías de la información.<br><br>
• Un sistema de información debe cumplir con los siguientes componentes básicos interactuando entre sí:
</p> <p style="margin-left: 5em">- El hardware, equipo físico utilizado para procesar y almacenar datos.<br><br>
- El software y los procedimientos utilizados para transformar y extraer información.<br><br>
- Los datos que representan las actividades de la empresa.<br><br>
- La red que permite compartir recursos entre computadoras y dispositivos.<br><br>
- Las personas que desarrollan, mantienen y utilizan el sistema.
</p> </h5>

<ul class="center">
  <a class="waves-effect waves-teal btn-flat" href="/A1-1">Anterior</a>
</ul>
