<ul id="dropdown1" class="dropdown-content">
  <li><a href="/Kiana">Kiana Alejandra</a></li>
  <li class="divider"></li>
  <li><a href="/Oswaldo">Angel Oswaldo</a></li>
  <li class="divider"></li>
  <li><a href="/Hagen">Emerik Hagen</a></li>
</ul>
<nav class="orange lighten-1" >
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Sistemas de Información</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/A1-0">Teoría Básica SI</a></li>
      <li><a href="/A2-0">Tipos de SI</a></li>
      <li><a href="/A3-0">Scrum</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Desarrolladores<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>


  <h4 align="center">¿Qué es SRUM?</h4><br/>

    <h5 align="center">SRUM es un marco de trabajo en el que equipos cross-funcionales pueden crear productos o desarrollar proyectos de una forma
    interactiva e incremental. El desarrollo se estructura en ciclos de trabajos llamados Sprints (también conocidos como interacciones). Estas onloadedmetadata="interacciones no deben durar
    mas de cuantro semanas cada uno (ciendo dos semanas la duracion habitual) y tienen lugar una tras otra sin pausa entre ellas. Los Sprints estan acotados en el tienpo - finalizan en algunafecha determinada
    independentientemente de si el trabajo a finalizado por completo o no, y jamas se prorrogan. Normalemte los equipos SCRUM escogen una duracion de Sprint y la mantienen para todos sus Sprints hasta que mejoran
    y puden emplear ciclos mas cortos. "</h5><br/>
    <h5 align="center">Al principio de cada Sprint, un equipo cross-funcional (de entorno a 7 personas) selecciona elementos (peticiones del cliente) de una lista PRIORIZADA!!!!. El equipo acuerda un objetivo
      colectivo respecto a lo que creen que podran entrgar al final del Sprint, Algo que sea tangible y que estara "Terminada" por completo. Durante el Sprint no se podan añadir nuevos Elemntos;  "</h5><br/>


<ul class="center">
  <a class="waves-effect waves-teal btn-flat" href="/A3-1">Siguiente</a>
</ul>
