<ul id="dropdown1" class="dropdown-content">
  <li><a href="/Kiana">Kiana Alejandra</a></li>
  <li class="divider"></li>
  <li><a href="/Oswaldo">Angel Oswaldo</a></li>
  <li class="divider"></li>
  <li><a href="/Hagen">Emerik Hagen</a></li>
</ul>
<nav class="orange lighten-1" >
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Sistemas de Información</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/A1-0">Teoría Básica SI</a></li>
      <li><a href="/A2-0">Tipos de SI</a></li>
      <li><a href="/A3-0">Scrum</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Desarrolladores<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<h4 align="center">¿Qué es una Metodologia Agil?</h4><br/>

<h5 align="center"> Metodología ágil es una de varias metodologías de desarrollo de software basadas en el desarrollo iterativo y incremental,
  en contraposición a las metodologías tradicionales de desarrollo de software lineal o cascada. Una metodología ágil proporciona un marco para apoyar el diseño, desarrollo y pruebas de soluciones de software
  a lo largo de su ciclo de vida.</h5><br/>

<h5 align="center"> Los métodos ágiles fomentan respuestas rápidas y flexibles al cambio mediante la promoción de la planificación adaptativa,
  la identificación de requisitos colaborativos y la racionalización entre el equipo interfuncional autoorganizado, así como el desarrollo gradual de soluciones. Muchos esfuerzos de desarrollo de
  software comerciales modernos siguen este tipo de enfoque.</h5><br/>


<ul class="center">
  <a class="waves-effect waves-teal btn-flat" href="/A3-1">Siguiente</a>
</ul>
