<ul id="dropdown1" class="dropdown-content">
  <li><a href="/Kiana">Kiana Alejandra</a></li>
  <li class="divider"></li>
  <li><a href="/Oswaldo">Angel Oswaldo</a></li>
  <li class="divider"></li>
  <li><a href="/Hagen">Emerik Hagen</a></li>
</ul>
<nav class="black" >
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Sistemas de Información</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/A1-0">Teoría Básica SI</a></li>
      <li><a href="/A2-0">Tipos de SI</a></li>
      <li><a href="/A3-0">Scrum</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Desarrolladores<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<body background="images/wendy.jpg">
<div align="center"><img src="images/jisoo.jpg"width="150" height="150">

<font color="red" face="Comic Sans MS">
    <h5 align="center">Alumno: Emerik Hagen Emerik Hagen</h5><br/>
    <h5 align="center">Número de Cuenta: 313219452</h5><br/>
    <h5 align="center">Semestre: 2019-II</h5><br/>
    <h5 align="center">Hobbie dormir y encerrar lolis en el sotano.</h5><br/>
    <h5 align="center">Correo: demerakalpha@gmail.com</h5><br/>

</font>
<a href="https://www.facebook.com/HAGENDEMERAK.SPARTAN"><img src="images/facebook.png"></a>
