<ul id="dropdown1" class="dropdown-content">
  <li><a href="/Kiana">Kiana Alejandra</a></li>
  <li class="divider"></li>
  <li><a href="#!">Angel Oswaldo</a></li>
  <li class="divider"></li>
  <li><a href="#!">Emerik Hagen</a></li>
</ul>
<nav class="black" >
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">Sistemas de Información</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Teoría Básica SI</a></li>
      <li><a href="#">Tipos de SI</a></li>
      <li><a href="#">Scrum</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Desarrolladores<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<body background="images/osw.jpg">
<div align="center"><img src="images/oswa.png"width="150" height="150">

<font color="white" face="Comic Sans MS">
    <h5 align="center">Alumno: Ramírez Castillo Angel Oswaldo</h5><br/>
    <h5 align="center">Número de Cuenta: 3133</h5><br/>
    <h5 align="center">Semestre: 2019-II</h5><br/>
    <br/>
</font>

<a href="https://www.facebook.com/oswaldo.wesker"><img src="images/facebook.png"></a>
